<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nandedinformation"
    android:versionCode="1"
    android:versionName="1.0" >

    
   <permission
        android:name="com.example.nandedinformation.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
 
    <uses-permission android:name="com.example.nandedinformation.permission.MAPS_RECEIVE" />
 
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />
 
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 
    
    
     
       <application
        android:allowBackup="true"
        android:icon="@drawable/nd"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <activity
            android:name="com.example.nandedinformation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Map" />
        <activity android:name="second" />
        <activity android:name="Education" />
        <activity android:name="Medical" />
        <activity android:name="Tourism" />
        <activity android:name="Travel" />
        <activity android:name="Entertainment" />
       <activity android:name="Bank" />
       <activity android:name="Police" />
       <activity android:name="Restaurant" />
       
       <activity android:name="Atm" />
       <activity android:name="School" />
        <activity android:name="Higheducation" />
       <activity android:name="Medicalinstitutes" />
       <activity android:name="Technicaledu" />
       <activity android:name="Home" />
      <activity android:name="Offices" />
       <activity android:name="Goveducation" />
      <activity android:name="Govmedicall" />
      <activity android:name="Gurudwara" />
       <activity android:name="Kaleshware" />
        <activity android:name="Mahur" />
        <activity android:name="Dam" />
      <activity android:name="Sahastra" />
      <activity android:name="Malegaon" />
         <activity android:name="Biloli" />
          <activity android:name="Unkeshwar" />
           <activity android:name="Hottal" />
              <activity android:name="Bus" />
              
         <activity android:name="Railway" />
         <activity android:name="Airport" />
          <activity android:name="Nandedtravels" />
                  <activity android:name="Postoffices" />
                  <activity android:name="Cafes" />
                   <activity android:name="Bar" />
                    <activity android:name="Gas" />
                    <activity android:name="Srtmun" />
                     <uses-library android:name="com.google.android.maps" />
                     
                     
    
                     </application>
      <uses-permission android:name="android.permission.CALL_PHONE" />
      
</manifest>